.projet-section{
    width: 100vw;
    height: 100vh;
    color: #ffffff;
}
.projet-bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    filter: blur(5px);
}
.projet-section .mask{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(30, 30, 30, 0.4);
    z-index: -1;
}
.projet-title{
    display: flex;
    padding-top: 15vh;
    font-size: 10rem;
    margin-inline: 7.5vw;
    text-transform: uppercase;
}
.projet-title .bar{
    border-bottom: 1px solid white;
    flex: 1;
}
.projet-competences{
    margin-block: 11vh;
    margin-left: 7.5vw;
    display: flex;
    flex-wrap: wrap;
    width: 33vw;
    gap: 2rem;
}
.projet-competences li{
    padding: 1.2rem 2.4rem;
    border: 1px solid white;
    width: fit-content;
    border-radius: 4.8rem;
    font-size: 2.5rem;
}
#arrow-projet{
    right: 7.5vw;
    position: absolute;
    width: 10rem;
    height: 10rem;
}
.projet-date{
    margin-left: 7.5vw;
    margin-top: 10rem;
}
.projet-description{
    margin-left: 7.5vw;
    width: 25vw;
    font-size: 1.5rem;
}
.projet-preview{
    padding: 10vh 7.5vw;
    background-color: #1E1E1E;
    display: flex;
    flex-direction: column;
    gap: 10vh;
}

@media (max-width: 767px) {
    .projet-title{
        font-size: 4rem;
    }
    .projet-competences{
        width: 90vw;
        margin-block: 7vh;
    }
    .projet-competences li{
        font-size: 1.5rem;
    }
    .projet-description{
        width: 66vw;
        font-size: 1rem;
    }
     
}